<h1>ajouter article</h1>
<table>
    <tr>  
        <td>Nom :</td> 
        <td><input type="text" #p></td>
    </tr>
    <tr>   
        <td>Refernce : </td>
        <td><input type="text"  #n></td>    
    </tr>
    <tr>
        <td>image : </td>
        <td>
            <select #m>
                <option value="../assets/p.jpg">aaaaaaaa</option>
                <option value="../assets/h.jpg">bbbbbb</option>
                <option value="../assets/a.jpg">ccccc</option>
            </select> 
        </td>
    </tr>
    <tr>    
        <td>prix : </td>
        <td><input type="text"  #c> </td>
    </tr>
    <tr>
        <td>disponibilité : </td>
        <td><input type="text"  #l></td>
    </tr>
    <tr>
        <td>
            <button (click)="onAdd(p.value,n.value,m.value,c.value,l.value)" class='btn btn-info color-modifier'>ajouter</button> 
        </td>
    <td>
        <button (click)="onSupp()" class='btn btn-info color-modifier'>Supprimer</button>   
    </td>
    </tr>
</table>